table{
    width: 98%;
    text-align: center;
    border-top: 1px solid black;
    border-collapse: collapse;
}

thead{
    background-color: rgb(13, 88, 63);
    color: rgb(233, 227, 227);
}

tbody{
    background-color: rgb(156, 235, 182)
}

td{
    border-top: 2px solid rgb(179, 45, 45);
    width: 25%;
}